body {
	background-color: #efefef;
	color: #373738;
	font-family: 'Rosario', Calibri, sans-serif;
}
* {
	transition-property:background-color, color, height, margin, opacity, padding, width;
	transition-duration: 0.2s;
}

.main {
	font-size: 120%;
}

.sidebar.main a {
	color: #2B3440;
	float: left;
}

a {
	color: #46568B;
	text-decoration: none;
}

a:not([href]) {
	text-decoration: line-through;
}

a:hover {
	color: #66768B;
}

h1 {
	margin-top: 0;
}

ul {
	list-style-type: none;
}

nav {
	font-size: 120%;
}

.sidebar.main {
	display: inline-block;
	float: left;
	height: 100%;
	width: 120px;
}

.content {
	margin-left: 120px;
}

.content li p {
	margin-top: 0;
}

h2 {
	margin-bottom: 0;
}
