body {
	background-color: #efefef;
	color: #373738;
	font-family: 'Rosario', Calibri, sans-serif;
}
* {
	transition-property:background-color, color, height, margin, opacity, padding, width;
	transition-duration: 0.2s;
}

.main {
	font-size: 120%;
}

a {
	color: #2B3440;
	text-decoration: none;
}

a:hover {
	color: #3B4450;
}

ul {
	list-style-type: none;
}

nav {
	font-size: 120%;
}

.sidebar.main {
	display: inline-block;
	float: left;
	height: 100%;
}
